
@media (min-width:900px) {

    .form-contain{
        background: #fff;
        padding: 25px;
        width: 500px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
        margin-top: 50px;
        margin-left: 300px;
    }
    
}
@media (min-width:576px) {

    .form-contain{
        background: #fff;
        padding: 12px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
        margin-top: 10px;
        
    }
    
}
@media (min-width:0px) {

    .form-contain{
        background: #fff;
    padding: 18px;
    width: 480px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-top: 50px;
    }
    
}
